@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: url('./assets/parrot-background.png') rgb(0, 0, 0, 0.8) repeat;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, Questrial, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
